<html>
  <head>
  </head>
  <body>
    <form class="add-user-to-favorites">
      <div class="form-group">
        <label>Select Category for <%= first_name %> <%= last_name %> (<%= username %>)</label>
        
        <select name="category" class="form-control">
          <option value="generic">generic</option>
        </select>

        <input type="hidden" name="other_username" value="<%= username %>">
        <button class="btn btn-default" type="submit">Add User To Favorites</button>
    </form>
</body>
</html>