<html>
<head>

<head>
	<body>
		<form class="navbar-form" role="search" style="float: left;">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" id="search-people-input-text">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default" id="search-people-form-button">
						<span class="glyphicon glyphicon-search">
							<span class="sr-only">Search</span>
						</span>
					</button>
				</span>
			</div>
		</form>
		<script>
			$("#search-people-input-text").keyup(function() {
				$("search-people-form-button").click();
			});
		</script>
	</body>
</html>