<html>
<head>
	<style>
		.profiles-scroll-area {
			overflow: scroll;
			height: 600px;
			min-width: 230px;
			display: inline-block;
			float: left;
		}

		.profiles-action-area {
			position: relative;
			height: 600px;
			width: 800px;
			float: left;
			border: solid #e7e7e7;
		}
	</style>
<head>
	<body>
		<form class="navbar-form search-people-form" role="search">
			<div class="input-group">
				<input name="search_text"  type="text" class="form-control" placeholder="Search" id="search-people-input-text">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default" id="search-people-form-button">
						<span class="glyphicon glyphicon-search">
							<span class="sr-only">Search</span>
						</span>
					</button>
				</span>
			</div>
		</form>
		<div class="profiles-scroll-area">
			<ul class="list-group profile-list-group">
				
			</ul>
		</div>
		<div class="profiles-action-area">
			
		</div>
		<script>
			// $(".people-action_button").keyup(function() {
			// 	console.log("here");
			// 	$(".dropdown-menu").hide();
			// });
		</script>
	</body>
</html>