<html>
  <head>
  </head>
  <body>
    <form class="send-message-form">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"> Send message to 
          <%= first_name %> <%= last_name %>
          (<%= username %>) </label>
        <textarea class="form-control message-textarea" name="message" style="height:400px"></textarea>
        <input type="hidden" name="other_username" value="<%= username%>">
        <button class="btn btn-default" type="submit" style="position: absolute; bottom: 0; right: 0;">Send</button>
  </form>
</body>
</html>