<html>
<head>
	<style>
	/* make sidebar nav vertical */ 
@media (min-width: 700px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu-container {
  	width: 200px;
  	float: left;
  }
}
	</style>
</head>
<div class="container menu-container">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="menu-tab" id="menu-profile"><a href="#/profile">Profile</a></li>
            <li class="menu-tab" id="menu-people"><a href="#/people" >People</a></li>
           	<li class="menu-tab" id="menu-groups"><a href="#/groups" >Groups</a></li>
            <li class="menu-tab" id="menu-messages"><a href="#/messages" >Messages</a></li>
            <li class="menu-tab" id="menu-email"><a href="#/email" >Email</a></li>
            <li class="menu-tab" id="menu-chat_rooms"><a href="#/chat_rooms" >Chat Rooms</a></li>
            <li class="menu-tab" id="menu-requests"><a href="#/requests" >Requests</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
</html>
