<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>

<div id="content"> </div>
	<script type="text/javascript" src="bundle.js" charset="utf-8"></script>

</body>
</html>