<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Web Request</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="people-tab" id="people-menu-find_people"><a href="#/people/find_people">Find People</a></li>
      <li class="people-tab" id="people-menu-favorites"><a href="#/people/favorites">Favorites</a></li>
    </ul>
  </div>
</nav>
  
<div class="container people-content">
</div>

</body>
</html>
