<html>
	<head>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<style>
			.form-padding {
				padding-left: 20px;
				width: 400px;
			}

		</style>
	</head>
	<body>
		<h1>Login</h1>
		<form class="login-form form-padding">
		    <label>Username</label>
		    <input type="text" class="form-control" placeholder="Enter username" name="username">
		    <label>Password</label>
		    <input type="password" class="form-control" placeholder="Enter password" name="password">
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</body>
</html>