<html>
<head>
  <style>
    .dropdown-menu>li>.people-action_button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border: none;
}
  </style>
</head>
<body>
  <% _.each(profiles, function(profile) { %>
    			<li class="list-group-item">
    				<div class="dropdown">
    					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      					<span class="glyphicon glyphicon-user"></span>
      					<%= profile.get("first_name") %> <%= profile.get("last_name") %> 
       					(<%= profile.get("username")%>)
      				<span class="caret"></span>
    					</button>
      					<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                
        					<li><a>Message</a></li>
        					<li><a>Send web request</a></li>
        					<li><a>Remove</a></li>
        					<li role="separator" class="divider"></li>
        					<li><a>View Profile</a></li>
      					</ul>
  				</div>
    			</li>
  <% }); %>
</body>
</html>